.header {
  width: 100%;
  max-width: 320px;
  padding-top: 28px;
  margin: 0 auto;
  border-bottom: solid 1px #545454;
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    padding-top: 45px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    max-width: 880px;
    width: 100%;

  }
}


